DJANGO_SECRET_KEY=supersecret123
DJANGO_DEBUG=1
DJANGO_ADMIN_EMAIL=admin@example.com
DJANGO_ADMIN_USERNAME=admin
DJANGO_ADMIN_PASSWORD=admin
DJANGO_ADMIN_UI_TITLE=Django Admin Title
DJANGO_ADMIN_UI_HEADER=Django Admin Header

GUNICORN_WORKERS=1
GUNICORN_WORKER_CLASS=gevent
GUNICORN_WORKER_CONNECTIONS=1000
GUNICORN_TIMEOUT=30
GUNICORN_GRACEFUL_TIMEOUT=30
GUNICORN_KEEPALIVE=2
GUNICORN_MAX_REQUESTS=1000
GUNICORN_MAX_REQUESTS_JITTER=50

POSTGRES_USER=django
POSTGRES_PASSWORD=django
POSTGRES_DB=django
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

REDIS_PASSWORD=123456
CACHE_URL=redis://default:${REDIS_PASSWORD}@redis:6379

OPENAPI_TITLE=Django Boilerplate
OPENAPI_DESCRIPTION=Django Boilerplate Application
OPENAPI_VERSION=0.5.0
